.site-logo{
    font-size: xx-large;
    margin: 0 20px;
}
.site-logo img{
    max-height: 50px;
    vertical-align: middle;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.spacer{
    flex: 1;
}
.nav-addon{
    margin-right: 20px;
    font-size: larger;
}
.nav-avatar{
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
    margin-top: 5px;
}
.error{
    color: red;
}
.shop-caregory img{
    max-width: 150px;
    max-height: 150px;
}
.shop-caregory b{
    display: block;
}
.shop-caregory{
    border: 1px solid lightgray;
    display: inline-block;
    cursor:pointer;
    padding: 10px;
    width: 250px;
}
.shop-caregory-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-syle{
    padding: 30px;
    border: 1px solid lightblue;
    border-radius: 10px;
}