.site-logo{
    font-size: xx-large;
    margin: 0 20px;
}
.site-logo img{
    max-height: 50px;
    vertical-align: middle;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.spacer{
    flex: 1;
}
.nav-addon{
    margin-right: 20px;
    font-size: larger;
}
.nav-avatar{
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
    margin-top: 5px;
}